[Desktop Entry]
Type=Application
Exec=nohup powerNow >/dev/null 2>&1 &
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=PowerNow
Name=PowerNow
Comment[en_US]=Show the Current Power Consuption
Comment=Show the Current Power Consuption
Icon=./launcher_bfb.png
